<div class="row">
    <div class="card col-12">
        <div class="card-body">
            <h4>Controles por año</h4>
            <div class="widget-content">
                <div id="staticticsYearControl"></div>
            </div>
        </div>
    </div>
</div>