<div class="row mt-3 mb-5">
    <div class="card col-12">
        <div class="card-body">
            <h4>Movimientos por año</h4>
            <div class="widget-content">
                <div id="staticticsTransactionsCount"></div>
            </div>
        </div>
    </div>
</div>